extends ../layouts/common
block content
	h1
		span.mr-2 Users
		a.btn.btn-primary(href='/user/create') Create

	.d-flex.align-items-center
		form.ml-auto(action="/user/search", method="GET", class="d-flex")
			input(type="text", name="name", class="form-control")
			button(class="btn btn-primary ml-2") Search

	table.table
		tr
			th Avatar
			th Name
			th Phone
			th Action

		each val in user
			tr
				td
					img(src= val.file, width='50')
				td= val.name			
				td= val.phone
				td 
					a.btn.btn-light(href="/user/" + val.id) View		